@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700);

/*共通*/
body {
  overflow-x: hidden;
  background: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #888;
}

html {
  height: 100%;
}

a {
  color: #267dbc;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:hover {
  outline: none;
  text-decoration: none;
  color: #11d5f8;
}

a:focus {
  outline: none;
  outline-offset: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1 {
  color: #686868;
}

h2 {
  font-size: 24px;
  color: #686868;
}

h3 {
  font-size: 18px;
}

.overflow {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.btn-common {
  font-size: 14px;
  color: #0099ae;
  border: 1px solid #0099ae;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 10px 25px;
}

#action .col-sm-5 {
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
}

.btn-common:hover,
.btn-common:focus {
  outline: none;
  background: none;
  box-shadow: none;
  color: #fff;
  background-color: #0099ae;
}

.align-right {
  text-align: right;
}

.inline {
  display: inline-block;
}

.padding {
  padding: 65px 0;
}

.padding-bottom {
  padding-bottom: 65px;
}

.padding-top {
  padding-top: 90px;
}

.padding-right {
  padding-right: 80px;
}

.padding-left {
  padding-left: 80px;
}

.margin-bottom {
  margin-bottom: 35px;
}

.container:after {
  content: " ";
  clear: both;
  display: block;
}

.sideWrap {
  position: relative;
}

/*-----------------------
Translation
-------------------------*/
.pc-translation .container ul {
  float: right;
  margin: 0;
  padding-right: 38px;
}

.pc-translation .container li {
  margin-right: 10px;
  float: left;
  padding: 10px 2px 0;
}

.pc-translation .container li a {
  display: block;
  height: 20px;
  line-height: 1.6;
  text-align: center;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 12px;
  color: #0099ae;
  border: 1px solid #0099ae;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 0 10px;
  cursor: pointer;
  background-color: transparent;
}

.pc-translation .container li a:hover,
.pc-translation .container li a.active {
  color: #fff;
  background-color: #0099ae;
}

.pc-translation .container li a:focus {
  text-decoration: none;
}

.pc-translation .container li:last-child {
  margin-right: 0px;
}

/*-----------------------
Header
-------------------------*/
#header {
  margin-bottom: 0;
  padding: 0 0 60px 0;
}

#header .navbar-inverse .container {
  position: relative;
}

#header .navbar {
  background: #fff;
  border: 0;
  margin-bottom: 0;
}

#header .navbar-brand {
  padding: 0;
  margin-left: 0;
}

#header .navbar-brand h1 {
  padding: 0;
  margin: 0;
}

#header .navbar-nav.navbar-right > li a {
  color: #000;
  font-size: 12px;
  padding: 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-decoration: none;
  background-color: transparent;
}

#header .navbar-inverse .navbar-nav li > a.router-link-active,
#header .navbar-inverse .navbar-nav li > a.router-link-active:focus,
#header .navbar-nav.navbar-right li > a:hover,
.navbar-inverse .navbar-nav > .open > a {
  background-color: inherit;
  border: 0;
  color: #00aeef;
}

#header .navbar-nav.navbar-right > li a.router-link-active {
  font-weight: 700;
}

#header .navbar-inverse .navbar-nav li a:hover {
  color: #00aeef;
}

/*-----------------------
index slider
-------------------------*/
#home-slider {
  background: url(~/assets/img/home/slider-bg_1.png) 0 100% repeat-x;
  position: relative;
}

#home-slider .row {
  display: block;
}

#home-slider .main-slider {
  position: relative;
  height: 450px;
}

#home-slider .slide-text {
  position: absolute;
  top: 50px;
  left: 0;
  width: 450px;
}

.animate-in .slide-text {
  -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.19, 1, 0.22, 1) 200ms
    both;
  animation: fadeInLeftBig 700ms cubic-bezier(0.19, 1, 0.22, 1) 200ms both;
}

#home-slider .slider-hill {
  position: absolute;
  right: 0;
  bottom: 0;
}

.animate-in .slider-hill {
  -webkit-animation: bounceInDown 1000ms ease-in-out 200ms both;
  animation: bounceInDown 1000ms ease-in-out 200ms both;
}

#home-slider .slider-house {
  position: absolute;
  right: 110px;
  bottom: -30px;
}

.animate-in .slider-house {
  -webkit-animation: bounceInDown 500ms ease-in-out 800ms both;
  animation: bounceInDown 500ms ease-in-out 800ms both;
}

#home-slider .slider-sun {
  position: absolute;
  right: 385px;
  bottom: 230px;
}

.animate-in .slider-sun {
  -webkit-animation: scaleIn 500ms ease-in-out 1200ms both;
  animation: scaleIn 500ms ease-in-out 1200ms both;
}

#home-slider .slider-birds1 {
  position: absolute;
  right: 470px;
  bottom: 75px;
}

.animate-in .slider-birds1 {
  -webkit-animation: scaleOut 500ms ease-in-out 1200ms both;
  animation: scaleOut 500ms ease-in-out 1200ms both;
}

#home-slider .slider-birds2 {
  position: absolute;
  right: 40px;
  bottom: 150px;
}

.animate-in .slider-birds2 {
  -webkit-animation: scaleOut 500ms ease-in-out 1500ms both;
  animation: scaleOut 500ms ease-in-out 1500ms both;
}

#home-slider h1 {
  margin-top: 100px;
  margin-bottom: 25px;
}

#home-slider .btn-common {
  margin-top: 20px;
}

.preloader {
  position: absolute;
  left: 0;
  top: 0;
  bottom: -30px;
  right: 0;
  background: #fafafa;
  text-align: center;
}

.preloader > svg {
  font-size: 48px;
  height: 48px;
  line-height: 48px;
  color: #00aeef;
  position: absolute;
  left: 50%;
  margin-left: -24px;
  top: 50%;
  margin-top: -24px;
}

/*-----------------------
TITLE
-------------------------*/
#page-breadcrumb {
  background-image: url(https://od.lk/s/NzFfMzQ0OTYxNV8/bar-bg.jpg);
  background-color: #fbfafa;
  background-repeat: repeat-x;
  height: 130px;
  background-position: center;
  display: table;
  position: static;
  width: 100%;
}

#page-breadcrumb .vertical-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: static;
}

.action h1 {
  margin-top: 0;
}

/*-----------------------
首頁
-------------------------*/
#services {
  margin-top: 50px;
}

.single-service {
  overflow: hidden;
  display: block;
}

.single-service img {
  margin-bottom: 25px;
}

.single-service .fold {
  margin-bottom: 35px;
}

.single-service h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.single-service p {
  padding: 0 48px;
}

/*-----------------------
關於我
-------------------------*/
.top-zero {
  margin-top: 0;
}

h3.top-zero {
  font-size: 20px;
}

.single-skill h3 {
  margin-top: 20px;
  font-size: 16px;
}

.single-skill h3.topZ {
  margin-top: 0;
  font-size: 16px;
}

.progress {
  height: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.progress-bar {
  line-height: 30px;
  box-shadow: none;
  -webkit-box-shadow: none;
  display: block;
  width: 10%;
}

.progress-bar.progress-bar-primary {
  background: #00aeef;
}

/*-----------------------
美術作品
-------------------------*/
#portfolio .row {
  margin-left: -10px;
  margin-right: -10px;
}

/*選單*/
.portfolio-filter {
  margin: 80px 0;
  padding: 0;
}

.portfolio-filter li {
  display: inline-block;
  position: relative;
}

.portfolio-filter li button {
  border-radius: 0;
  color: #686868;
  font-size: 18px;
  font-weight: 300;
  padding: 0 25px;
  text-transform: capitalize;
  border: none;
}

.portfolio-filter li .btn-primary {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.portfolio-filter li button:hover,
.portfolio-filter li button:focus,
.portfolio-filter li button.btn-primary {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  color: #00aeef;
}

.portfolio-filter li button.btn-primary:before {
  position: absolute;
  content: "";
  left: 0;
  width: 13px;
  height: 16px;
  background: url(~/assets/img/portfolio/icon.png);
  top: 5px;
}

/*作品集圖片*/
.portfolio-single {
  position: relative;
}
.portfolio-single:hover .portfolio-view {
  display: block;
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}
.portfolio-thumb {
  position: relative;
}

.portfolio-thumb img {
  width: 100%;
}
.portfolio-view {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(38, 125, 188, 0.9);
  width: 100%;
  text-align: center;
}

.portfolio-view .nav-pills {
  padding: 0;
  display: inline-block;
  margin-top: -26px;
  top: 50%;
  position: relative;
}

.portfolio-view .nav-pills li {
  display: inline-block;
  margin: 0 5px;
}

.portfolio-view .nav-pills li a {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  padding: 0;
  border-radius: 40px;
  -webkit-animation: scaleIn 400ms linear 100ms both;
  animation: scaleIn 400ms linear 100ms both;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.portfolio-view .nav-pills li a:hover {
  color: #267dbc;
  border-color: #267dbc;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.scaleOut {
  -webkit-animation-name: scaleOut;
  animation-name: scaleOut;
}

@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

@-webkit-keyframes scaleOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes scaleOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/*圖片文字說明*/
.portfolio-info {
  overflow: hidden;
  margin-bottom: 30px;
}

.portfolio-info h2 {
  font-size: 18px;
  margin: 15px 0 0;
}

/*-----------------------
程式專案
-------------------------*/
.portfolio-information.padding-top {
  padding-top: 90px;
}

.project-name h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.portfolio-information .hooper {
  height: auto;
}

.portfolio-information .hooper-pagination {
  bottom: -20px;
}

.portfolio-information .hooper-indicator {
  border: 1px solid #0884d5;
}

/*專案負責說明*/
.listWrap {
  background: none;
  padding: 0;
}

.listWrap li a,
.listWrap li p,
.listWrap li span {
  font-size: 12px;
  padding: 0;
  padding-right: 15px;
  color: #267dbc;
}

.listWrap li a {
  display: block;
  border: 1px solid #267dbc;
  border-radius: 4px;
  padding: 2px 15px;
}

.listWrap li p svg,
.listWrap li span svg {
  margin-right: 8px;
}

.listWrap li a:hover {
  color: #fff;
  border: 1px solid #0099ae;
  background-color: #0099ae;
}

.skills .listWrap,
.movie .listWrap,
.tools .listWrap {
  margin-left: 35px;
}

.skills .listWrap li,
.movie .listWrap li,
.tools .listWrap li {
  display: inline-block;
}

.tools .listWrap li p {
  font-weight: normal;
}

/*專案圖片*/
.team-carousel {
  margin-top: 50px;
  margin-bottom: 60px;
}

.team-carousel-control {
  position: absolute;
  top: 50%;
  width: 13px;
  height: 16px;
  text-indent: -9999999px;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.right.team-carousel-control {
  right: -50px;
  background-image: url(~/assets/img/aboutus/right.png);
}

.left.team-carousel-control {
  left: -50px;
  background-image: url(~/assets/img/aboutus/left.png);
}

.team-carousel-control:hover {
  background-position: 0 -18px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.carousel-indicators.visible-xs {
  height: 20px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: -35px;
  width: 100%;
  left: 0;
}

.carousel-indicators.visible-xs li {
  border-color: #0884d5;
  border-width: 2px;
  height: 12px;
  margin: 0 5px 0 0;
  width: 12px;
}

.carousel-indicators.visible-xs li.active {
  background: rgba(77, 223, 245, 0.7);
}

.team-single {
  position: relative;
}

.social-profile {
  background: none repeat scroll 0 0 rgba(137, 97, 46, 0.8);
  display: none;
  position: absolute;
  text-align: center;
  top: 0;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
  transition: all 0.9s ease 0s;
  width: 100%;
  height: 100%;
}

.team-single:hover .social-profile {
  background: rgba(38, 125, 188, 0.9);
  display: block;
  -webkit-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.social-profile .nav-pills {
  display: inline-block;
  margin-top: -26px;
  padding: 0;
  position: relative;
  top: 50%;
}

.social-profile .nav-pills li {
  display: inline-block;
  margin: 0 5px;
}

.social-profile .nav-pills li a {
  color: #fff;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  border-radius: 40px;
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.social-profile .nav-pills li a:hover {
  color: #267dbc;
  border-color: #267dbc;
}

/*網頁作品*/
#other-work {
  margin: 20px 0;
}

.workW {
  padding: 0 20px;
  margin: 30px 30px 80px 30px;
}

.work-img {
  overflow: hidden;
}

.work-img img {
  width: 100%;
}

.work-title {
  margin: 10px 0 5px;
  font-size: 1.2em;
  font-weight: bold;
}
.work-title > * {
  color: #267dbc;
}

.grow {
  transition: all 1s ease-in-out;
}
.grow:hover {
  transform: scale(1.1);
}

/*-----------------------
Footer
-------------------------*/
#footer {
  padding-bottom: 10px;
  background-image: url(~/assets/img/home/footer_1.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: contain;
}

#footer .bottom-separator {
  margin-bottom: 60px;
  height: 145px;
}

.copyright-text {
  margin-top: 70px;
  color: #fff;
  font-size: 16px;
  padding-bottom: 15px;
}

.copyright-text a {
  color: #7bd7f5;
}

.copyright-text a:hover {
  color: #00aeef;
}

.copyright-text p {
  margin-bottom: 0;
}
